$theme-colors: (
  "primary": #0c161f,
  "danger": #ff4136
);

$navbar-height: 40px;

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all";

nav.top-nav .nav-link {
  font-family: "Noto Sans", sans-serif;
  font-size: small;
}

a.dropdown-item {
  font-family: "Noto Sans", sans-serif;
  font-size: small;
}

nav.top-nav {
  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.logo-banner {
  background: transparent;
  margin-bottom: 0;
}

h1.logo-text {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  font-weight: 400;
}

nav.nav-menu {
  border-bottom: rgb(185, 185, 185);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top: rgb(185, 185, 185);
  border-top-width: 1px;
  border-top-style: solid;
}

nav.nav-menu .nav-link {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.widget-title h2 span {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 0 10px 0 0;
  z-index: 1;
  color: #000;
}
.widget-title h2:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #eee;
  top: 70%;
  z-index: 0;
}
.widget-title h2 {
  position: relative;
  margin: 0 0 30px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.blog-entries .blog-entry {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.blog-entries .blog-entry::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 30px;
}

.blog-entries .blog-entry:hover::after {
  opacity: 1;
}

.blog-entries .blog-entry img {
  max-width: 100%;
}

.blog-entries .blog-entry .blog-content {
  border: 1px solid #efefef;
  padding: 20px;
}

.blog-entries .blog-entry .blog-content .blog-meta {
  font-size: 14px;
  margin-bottom: 10px;
  color: #b3b3b3;
  font-family: "Inconsolata", monospace;
}

.sidebar {
  padding-top: 40px;
}

.sidebar .bio-box {
  border: 1px solid #e6e6e6;
  padding: 15px;
}

.sidebar .bio-box .bio-avt {
  position: relative;
  border: 4px solid #fff;
  max-width: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  margin-top: -4em;
}

.sidebar .bio-box .bio-body {
  padding: 20px;
}

.sidebar .bio-box .bio-body h2 {
  font-size: 20px;
}

.sidebar .social-links i {
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 10px;
}

.sidebar .social-links span {
  font-style: italic;
}

.sidebar .social-links a {
  display: block;
}

.sidebar .social-links a.facebook:hover i {
  color: blue;
  text-shadow: 0 0 4px grey;
}

.sidebar .social-links a.github:hover i {
  color: red;
  text-shadow: 0 0 4px grey;
}

.sidebar .popular-posts ul {
  list-style: none;
  padding: 0px;
}

.sidebar .popular-posts ul li a {
  display: table;
  margin-bottom: 15px;
}

.sidebar .popular-posts ul li a:hover {
  text-decoration: none;
}

.sidebar .popular-posts ul li a img {
  width: 90px;
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
}

.sidebar .popular-posts ul li a .pp-body {
  display: table-cell;
  vertical-align: middle;
}

.sidebar .popular-posts ul li a .pp-body h5 {
  font-size: 1rem;
}

.sidebar .popular-posts ul li a .pp-body .pp-meta {
  font-size: 14px;
  margin-bottom: 10px;
  color: #b3b3b3;
  font-family: "Inconsolata", monospace;
}

.sidebar .categories ul {
  list-style: none;
  padding: 0px;
}

.sidebar .categories ul li a {
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.sidebar .categories ul li a:hover {
  font-weight: 500;
  text-decoration: none;
}

.sidebar .categories ul li {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #d4d4d4;
}

.sidebar .categories ul li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #b9b9b9;
  font-style: italic;
}

.sidebar .tags ul {
  padding: 0px;
}

.sidebar .tags ul li {
  float: left;
  display: block;
  margin: 0px 4px 4px 0px;

}

.sidebar .tags ul li a {
  font-family: "Inconsolata", monospace; 
  float: left;
  background: #f2f2f2;
  padding: 2px 6px;
  border-radius: 4px;
}

.sidebar .tags ul li a:hover {
  text-decoration: none;
  background: #10437e;
  color: #fff;
}
