<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head') %>
    <title>Hello World</title>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="container">
        <a class="btn" href="/test"><i class="material-icons right">arrow_forward</i>Get started!</a>
    </div>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>