<nav class="navbar navbar-expand-lg navbar-light py-md-0 top-nav">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active py-md-0">
        <a class="nav-link" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item py-md-0">
        <a class="nav-link" href="#">VỀ TÁC GIẢ</a>
      </li>
      <li class="nav-item py-md-0">
        <a class="nav-link" href="#">LIÊN HỆ</a>
      </li>
      <li class="nav-item dropdown py-md-0">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          LIÊN KẾT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid logo-banner">
  <div class="container text-center">
    <h1 class="display-4 logo-text">Tezz</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light nav-menu">
  <ul class="nav ml-auto mx-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>